<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="footer" th:fragment="footer">
    <nav>
    <footer class="page-footer font-small cyan darken-3">

            <a href='https://github.com/K-SRHS' target='_blank'>GitHub</a>
            <a href='https://cyber.inhatc.ac.kr/' target='_blank'>University</a> |

        <p>
            <span>제작자 : 김윤호</span><br/>
            <span>학번 : 201945074</span><br/>
            <span>이메일 : 201945074@itc.ac.kr</span><br/>
            <span>Copyright 2023. KYH. All Rights Reserved.</span>
        </p>

    </footer>
    </nav>
</div>

</html>
